

$maxWidth: 60rem;
$headerHeight: 12rem;
$headerInitialHeight: 15rem;

$minRightMargin: 4rem;
$minLeftMargin: 4rem;
$marginTop: 10rem;

/*******> COLORS ********/
$voteYesColor: #5eb5e0;
$voteNoColor: #e0695e;
$voteAbstainColor: #e0e0e0;

$lightGrey: #fefefe;
$lightRed: #ffe1d0;
$red: #d44040;

$softerYellow: #fffee8;
$softYellow: #fdfcd5;
$standardYellow: #fffb88;

$purple: #A454CC;
$bright-blue: #BAE6FF;
$brighter-blue: #BCE9FC;
$deep-blue: #0600A8;
$dark-black: #2C2C2C;
$smoke-white: #f9f9f9;
$yellow: #FFFB88;

$nav-top-bg: $bright-blue;
$nav-bottom-bg: $brighter-blue;
$active-text: $purple;

$invalidTextBackground: $lightRed;
/*******< COLORS ********/

/*** > IMPORTS ***/
@use '_loading.scss';
/*** < IMPORTS ***/

@font-face {
    font-family: "Raleway-Regular";
    src: url("../fonts/Raleway-Regular.ttf");
}
@font-face {
    font-family: Raleway;
    src: url("../fonts/Raleway-ExtraBold.ttf");
}
@font-face {
    font-family: "Raleway-Light";
    src: url("../fonts/Raleway-Light.ttf");
}
@font-face {
    font-family: "Raleway-Black";
    src: url("../fonts/Raleway-Black.ttf");
}
@font-face {
    font-family: Sniglet;
    src: url("../fonts/Sniglet-Regular.ttf");
}
  body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  
  .hide {
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .active a {
    color: $active-text;
  }
  
  body {
    margin: 0;
  }

  .header-container {
      position: sticky;
      top: 0;
      z-index: 25;
  }

  header.small {
      min-height: $marginTop;
    #header-image-bg {
        min-height: 10%;
        transition: 500ms;
        opacity: 0;
    }

    .language-container {
        //bottom: -4rem;
    }
  }
  
  header {
    background-image: linear-gradient($nav-top-bg, $nav-bottom-bg);
    min-height: $headerInitialHeight;
    display: flex;
    flex-direction: row;
    position: relative;
    transition: 500ms;
    z-index: 25;

    #header-image-bg {
        background-image: url('../images/header.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 50%;
        bottom: 0;
        position: absolute;
        transition: 1000ms;
        opacity: 0.7;
    }
  
    #logo {
      display: flex;
      flex-direction: column;
      z-index: 10;
      margin-left: $minLeftMargin;
      width: 8rem;
      transition: 1s;

      a {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: $dark-black;
      }
      p {
        font-family: Sniglet, sans-serif;
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0;
      }
  
      #logo-text-container {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
  
        #logo-text {
          font-size: 2.5rem;
        }
  
        #logo-description {
          font-size: 1rem;
          position: relative;
          top: -5px;
        }
  
      }
  
    }
  
    nav {
      z-index: 10;
      font-family: Raleway, sans-serif;
      margin-left: auto;
      margin-top: 3rem;
      margin-right: $minRightMargin;
      display: grid;
      grid-template-rows: 2rem 1.5rem 1.5rem;
  
  
      #main-nav, #sub-nav, #sub-sub-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 1rem;
        width: fit-content;
        margin-left: auto;
        border-bottom: $smoke-white solid 1rem;
  
      }
  
      #main-nav {
        font-size: 2rem;

        >div {
            margin-bottom: -0.9rem;
            margin-left: 2rem;
        }
      }
  
      a {
        text-decoration: none;
        color: $dark-black;
      }
    }
  }

.news-list {
ul {
    list-style: none;
    padding: 0;
}
}
#content {
    display: grid;
    grid-template-columns: minmax(12rem, 62rem) minmax(8rem, 20rem);
    column-gap: 3rem;
    margin-left: $minLeftMargin;
    margin-right: $minRightMargin;

    font-family: 'Raleway-Light', sans-serif;

    >div {
        padding: 1rem;
    }
}
.content-item.mt-0 {
    margin-top: 0;
}
.content-item {
    max-width: $maxWidth;
    margin-top: 8rem;
    margin-bottom: 8rem;

    .item-header {
        display: grid;
        grid-template-areas:
            'subheader image'
            'header image';

        p {
            margin: 0;
            grid-area: subheader;
        }

        h1, h2 {
            margin-top: 0;
            margin-bottom: 0;
            grid-area: header;
            font-family: "Raleway-Black", Raleway, Georgia, sans-serif;
            font-size: 2rem;
        }

        img {
            grid-area: image;
            width: 4rem;
            margin-left: auto;
            margin-right: 2rem;
        }
    }

    p {
        line-height: 1.5rem;
    }

}

.symbol {
    margin-right: 0.5rem;
}

form {
    min-height: 15rem;
}
form.center-align {
    justify-content: center;
}

.answer-option {
    width: 6rem;
    min-width: max-content;
    margin-right: 1rem;
    font-size: 1rem;
    background-color: $softYellow;
}

.answer-option.success {
    font-size: 2.5rem;
    margin-top: 1.5rem;
    background-color: unset;
}

.answer-option:hover {
    background-color: $standardYellow;
}

.answer-option.active {
    background-color: $standardYellow;
}

.answer-option.inactive {
    background-color: $lightGrey;
}

.relative {
    position: relative;
}

.question-bee {
    width: 2rem;
    position: absolute;
}

#bee-scatter-0 {
    left: 1rem;
    top: 1rem;
    transform: rotate(15deg);
}
#bee-scatter-1 {
    top: 1.5rem;
    left: 2.9rem;
    transform: rotate(0deg);
}
#bee-scatter-2 {
    bottom: 0;
    left: 0.5rem;
    transform: rotate(273deg);

}
#bee-scatter-3 {
    bottom: 0.8rem;
    left: 1.9rem;
    transform: rotate(252deg);

}
#bee-scatter-4 {
    bottom: 0.2rem;
    left: 5rem;
    transform: rotate(300deg);
}
#bee-scatter-5 {
    top: 0.7rem;
    left: 7rem;
    transform: rotate(20deg);
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: baseline;

    p {
        margin: 0;
        font-size: 2rem;
    }

    .answer-chevron {
        font-weight: bold;
        font-size: 3rem;;
        color: $voteYesColor;
    }
}



.question-item.sent {

    button {
        border-color: #636363;
        color: #636363;
    }
}
.question-item {
    position: relative;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    box-shadow: 0 3px 8px #cecece;
    max-width: $maxWidth - 2rem;
    padding: 1rem;
    font-size: 1.3rem;

    .question-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .question-bee {
        position: absolute;
        width: 2rem;
        height: 2rem;
    }

    .question-bee.top {
        align-self: flex-start;
    }
    .question-bee.left {
        left: 2rem;
    }
    .question-bee.right {
        right: 2rem;
    }
    .question-bee.bottom {
        align-self: flex-end;
    }
}

.cards-container {
    position: relative;
    min-width: 3.5em;
    min-height: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;


    .card {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.5em;
        height: 2em;
        font-family: Raleway, "Raleway-Light", sans-serif;
        border-style: solid;
        border-color: #707070;
        color: #707070;
        background-color: #fefefe;
        transform: rotate(-5deg);
    }

    .rot-0 {
        transform: rotate(-7deg);
    }
    .rot-1 {
        transform: rotate(-3deg);
    }
    .rot-2 {
        transform: rotate(2deg);
    }
    .rot-3 {
        transform: rotate(5deg);
    }
    .rot-4 {
        transform: rotate(8deg);
    }
}

input[type="number"] {
    background-color: $softerYellow;
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
    height: 1rem;
    padding: 0.5rem;
}
input[type="number"].blurred {
    background-color: $standardYellow;
}

input[type="number"].invalid {
    background-color: $invalidTextBackground;
}

.info-status {
    position: absolute;
    color: $red;
}

.range-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vote-result {
    display: flex;
    align-items: center;
    justify-content: center;

    .vote-sign-container {
        font-size: 10rem;
        font-weight: bold;
    }

    .yes {
        color: $voteYesColor;
    }

    .no {
        color: $voteNoColor;
    }
}
.results {
    padding: 2rem;
}
.result-summary {
    margin-left: 5rem;
    display: grid;
    grid-template-columns: 6rem 2.5rem;

    p {
        margin-bottom: 0;
    }

    p:nth-child(odd) {
        text-align: right;
    }
    p:nth-child(even) {
        margin-left: 0.5rem;
    }
    p:nth-child(2) {
        border-right-style: solid;
        border-right-width: 5px;
        border-right-color: $voteYesColor;
    }
    p:nth-child(4) {
        border-right-style: solid;
        border-right-width: 5px;
        border-right-color: $voteNoColor;
    }
    p:nth-child(6) {
        border-right-style: solid;
        border-right-width: 5px;
        border-right-color: $voteAbstainColor;
    }
}

.cursive {
    font-style: italic;
}

.language-container.small {
    top: -3.2rem;
    background-color: rgba($color: #bbe7fe, $alpha: 0);

    button.btn {
        background-color: #f9f9f9;
        font-weight: bold;
        color: #2c2c2c;
    }

    button.btn.select {
        background: rgb(222 244 254);;
        border-bottom: 0.3rem solid #f9f9f9;
        color: #2c2c2c;
    }
}

.language-container {
    position: relative;
    top: 0;
    z-index: 30;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    padding-right: $minRightMargin;
    padding-top: 1rem;
    background-color: rgba($color: #fff, $alpha: 1.0);
    transition: 500ms;

    button.btn {
        font-family: "Raleway-Regular", "Raleway-Light", sans-serif;
        font-size: 1.2rem;
        border: none;
        width: 6.5rem;

        background-color: $deep-blue;
        color: white;
        z-index: 20;

        transition: 250ms;
    }

    button.btn.select {
        color: #0600A8;
        background: none;
        border-bottom: 0.3rem solid #0600A8;
        padding-top: 0.3rem;
    }

    button.btn:focus {
        outline: none;
    }
}

.news-list {
  height: 15rem;
  overflow-y: auto;
  .news-item {
    h3 {
      font-size: 0.8rem;
      margin-bottom: 0;
    }
    p {
      font-size: 0.7rem;
      margin: 0;
    }
  }
}


.diagram-container {
    margin-left: -3rem;
    position: relative;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .center-artefact {
        position: absolute;
        font-size: 3rem;
    }
}

button.select {
    background-color: #FFFB88;
}
button.deselect {
    background-color: #f3f3f3;
}

button {
    font-family: Raleway, sans-serif;
    width: 10rem;
    height: 2rem;
    background-color: $yellow;
    color: $dark-black;
    border-color: $dark-black;
    border-radius: 3px;
}

footer {
    background-image: linear-gradient($nav-top-bg, $nav-bottom-bg);
    padding-left: 27px;
    min-height: 10rem;
    display: flex;
    align-items: center;

    font-family: 'Raleway-Light', sans-serif;

}

.center-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 800px) {
  #content {
    grid-template-columns: 1fr;

    #secondary-col {
      grid-row: 1;
      height: 12rem;
      overflow-y: auto;
    }
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 13px;
  }
  header {
    min-height: 10rem;

    #logo {
      img {
        width: 7rem;
      }
      #logo-text-container {
        display: none;
      }
    }

    nav {
      display: flex;
    }
  }
  #header-image-bg  {
    display: none;
  }

    .language-container {
    top: -3.2rem;
    background-color: rgba(187, 231, 254, 0);

    button.btn {
      background-color: #f9f9f9;
      font-weight: bold;
      color: #2c2c2c;

      &.select {
        background: rgb(222 244 254);
        border-bottom: 0.3rem solid #f9f9f9;
        color: #2c2c2c;
      }
    }
  }

  .result-summary {
    margin: 0;
  }

  .content-item {
    .answer-option.success {
      min-width: fit-content;
      line-height: 2rem;
      &p {

      }
    }
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }

  header {

    #logo {
      justify-content: center;
      a{
        margin: 0;
      }
      img {
        width: 5rem;
      }
    }

  }
  .language-container {

    button.btn {
      font-size: 1rem;
      width: 5.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 11px;
  }

  header, header.small {
    flex-direction: column;
    min-height: 8rem;

    #logo {
      margin: 0 0 0 4rem;
    }

    nav {
      margin: 0;
      justify-content: center;
    }
  }

  .language-container, .language-container.small  {
    top: -8rem;
  }

  .vote-sign {
    display: none;
  }
}